*.o
*.class
libs/Darwin-i386/*.dSYM
.DS_Store
bin
.project
.classpath
Xcode/build
Xcode/ZenGarden.xcodeproj/mhroth.pbxuser
Xcode/ZenGarden.xcodeproj/mhroth.mode1v3
Xcode/ZenGarden.xcodeproj/project.pbxproj
src/main.cpp
src/sndfile.h
.*.swp
*.pyc
Mersenne-1.1.zip
demo/
libs/
ZenGarden.jar
